.tutorial-item-wrap { background: #444; border: 1px solid #111; -webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.5); -moz-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.5); box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.5);}
	.tutorial-item-wrap a { color: #eee; }
	.tutorial-arrow { border-bottom: 15px solid #333; }
	.tutorial-item-header, .tutorial-item-content, .tutorial-item-actions { color: #fff;  }
		.tutorial-item-header, .tutorial-item-actions { background: #333; }
		.tutorial-item-header { border-bottom: 1px solid #222; }
		.tutorial-item-content {}
		.tutorial-item-actions { border-top: 1px solid #222; }